<div id="gender_topics_aboutmen" class="carousel slide carousel-fade" data-bs-ride="carousel" data-interval = 'false'>
  <ol class="carousel-indicators">
      <li data-target="#gender_topics_aboutmen" data-slide-to="0" class="active"></li>
      <li data-target="#gender_topics_aboutmen" data-slide-to="1"></li>
      <li data-target="#gender_topics_aboutmen" data-slide-to="2"></li>
      <li data-target="#gender_topics_aboutmen" data-slide-to="3"></li>
      <li data-target="#gender_topics_aboutmen" data-slide-to="4"></li>
      <li data-target="#gender_topics_aboutmen" data-slide-to="5"></li>
      <li data-target="#gender_topics_aboutmen" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image: url('https://github.com/VFayt99/femedia/blob/master/img/carousel/top_quotes_male_about_gdsmm_topic_0.png?raw=true')">
      <div class="carousel-caption">
        <p>General Lifestyle</p>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url('https://github.com/VFayt99/femedia/blob/master/img/carousel/top_quotes_male_about_gdsmm_topic_1.png?raw=true')">
      <div class="carousel-caption">
        <p>Sexuality</p>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url('https://github.com/VFayt99/femedia/blob/master/img/carousel/top_quotes_male_about_gdsmm_topic_2.png?raw=true')">
      <div class="carousel-caption">
        <p>Sports and Competition</p>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url('https://github.com/VFayt99/femedia/blob/master/img/carousel/top_quotes_male_about_gdsmm_topic_3.png?raw=true')">
      <div class="carousel-caption">
        <p>Service to Country and Work </p>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url('https://github.com/VFayt99/femedia/blob/master/img/carousel/top_quotes_male_about_gdsmm_topic_4.png?raw=true')">
      <div class="carousel-caption">
        <p>Familiy</p>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url('https://github.com/VFayt99/femedia/blob/master/img/carousel/top_quotes_male_about_gdsmm_topic_5.png?raw=true')">
      <div class="carousel-caption">
        <p>Police and Politics</p>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url('https://github.com/VFayt99/femedia/blob/master/img/carousel/top_quotes_male_about_gdsmm_topic_6.png?raw=true')">
      <div class="carousel-caption">
        <p>"Child-border-police" - Immigration? </p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#gender_topics_aboutmen" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#gender_topics_aboutmen" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>
