<div style="text-align:center">
  <div class="post_row">
    <div class="post_column"></div>
    <div class="post_column">
        <div class="pie-wrapper"><div class="pie animate" style="--p:17.142857142857142;--c:rgb(229 168 90); justify-content: center;font-weight: 200;"><div1 id="books"></div1>Livres</div></div>
    </div>
    <div class="post_column">
        <div class="pie1-wrapper"><div class="pie1 animate" style="--p:13.208333333333332;--c:rgb(163 229 168); justify-content: center;font-weight: 200;"> <div1 id="pages"></div1>Pages</div></div>
    </div>
    <div class="post_column"></div>
  </div>
</div>

<br>


<div class="bar_chart">
<div class="bar-wrapper1 bar_chart_li" hover_text = "1"><div class="span_bar" style="height:16.666666666666668%" title="Fiction"></div></div>
<div class="bar-wrapper2 bar_chart_li" hover_text = "1"><div class="span_bar" style="height:16.666666666666668%" title="Historical Fiction"></div></div>
<div class="bar-wrapper3 bar_chart_li" hover_text = "1"><div class="span_bar" style="height:16.666666666666668%" title="Non-Fiction"></div></div>
<div class="bar-wrapper4 bar_chart_li" hover_text = "1"><div class="span_bar" style="height:16.666666666666668%" title="Polar"></div></div>
<div class="bar-wrapper5 bar_chart_li" hover_text = "1"><div class="span_bar" style="height:16.666666666666668%" title="Science Fiction"></div></div>
<div class="bar-wrapper6 bar_chart_li" hover_text = "1"><div class="span_bar" style="height:16.666666666666668%" title="Science-Fiction"></div></div>
</div>
</div>
<!-- a -->

<style> 
@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:250px;
  
  width:var(--w);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.pie1 {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:250px;
  
  width:var(--w);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}
.pie1:before,
.pie1:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie1:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie1:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation:p 2s .5s both;
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
@keyframes p {
  from{--p:0}
}
div1 {
  font: 800 40px system-ui;
}


.bar_chart {
  display: table;
  table-layout: fixed;
  width: 60%;
  max-width: 700px;
  height: 150px;
  margin: 0 auto;
}
.bar_chart_li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 150px;
}

.span_bar {
  margin: 0 1em;
  display: block;
  background: rgba(209, 236, 250);
  /* animation: draw 2s ease-in-out; */
}
.bar_animation { 
  animation: draw 2s .5s both;
}
.span_bar:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  visibility: visible;
  display: block;
  text-align: center;
  content: attr(title);
  font-size: 15px;
  word-wrap: break-word;
}

.bar_chart_li:after {
  visibility: hidden;
  opacity: 0.4;
  width: 75px;
  background-color: rgb(142, 170, 232);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  font-size: 15px;

  transition: opacity .5s ease-in-out;

  position: absolute;
  margin-left: 25%;
  top: 50%;
  content: attr(hover_text);
}

.bar_chart_li:hover:after {
  opacity: 0.4;
  visibility: visible;
}

@keyframes draw {
  0% {
    height: 0;
  }
  
}


</style>


<script> 
    function animateValue(obj, start, end, duration) {
  let startTimestamp = null;
  const step = (timestamp) => {
    if (!startTimestamp) startTimestamp = timestamp;
    const progress = Math.min((timestamp - startTimestamp) / duration, 1);
    obj.innerHTML = Math.floor(progress * (end - start) + start);
    if (progress < 1) {
      window.requestAnimationFrame(step);
    }
  };
  window.requestAnimationFrame(step);
}



</script>

<script>
  window.console = window.console || function(t) {};
</script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

  
  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }


</script>

<script>
  const observer = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    const pie = entry.target.querySelector('.pie');

    if (entry.isIntersecting) {
      pie.classList.add('animate');
      const book = document.getElementById("books");
      /* book */
      animateValue(book, 0, 6, 2500);  
      /* book_end */
	  return; // if we added the class, exit the function
    }

    // We're not intersecting, so remove the class!
    pie.classList.remove('animate');
  });
});

observer.observe(document.querySelector('.pie-wrapper'));

const observer0 = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    const pie_1 = entry.target.querySelector('.pie1');

    if (entry.isIntersecting) {
      pie_1.classList.add('animate');
      const pages = document.getElementById("pages");
      /* pages */
      animateValue(pages, 0, 1585, 2500);
      /* pages_end */
	  return; // if we added the class, exit the function
    }

    // We're not intersecting, so remove the class!
    pie_1.classList.remove('animate');
  });
});

observer0.observe(document.querySelector('.pie1-wrapper'));

const observer1 = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    const bar_ = entry.target.querySelector('.span_bar');

    if (entry.isIntersecting) {
      bar_.classList.add('bar_animation');
	  return; // if we added the class, exit the function
    }

    // We're not intersecting, so remove the class!
    bar_.classList.remove('bar_animation');
  });
});

observer1.observe(document.querySelector('.bar-wrapper1'));

const observer2 = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    const bar_ = entry.target.querySelector('.span_bar');

    if (entry.isIntersecting) {
      bar_.classList.add('bar_animation');
	  return; // if we added the class, exit the function
    }

    // We're not intersecting, so remove the class!
    bar_.classList.remove('bar_animation');
  });
});

observer2.observe(document.querySelector('.bar-wrapper2'));

const observer3 = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    const bar_ = entry.target.querySelector('.span_bar');

    if (entry.isIntersecting) {
      bar_.classList.add('bar_animation');
	  return; // if we added the class, exit the function
    }

    // We're not intersecting, so remove the class!
    bar_.classList.remove('bar_animation');
  });
});

observer3.observe(document.querySelector('.bar-wrapper3'));

const observer4 = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    const bar_ = entry.target.querySelector('.span_bar');

    if (entry.isIntersecting) {
      bar_.classList.add('bar_animation');
	  return; // if we added the class, exit the function
    }

    // We're not intersecting, so remove the class!
    bar_.classList.remove('bar_animation');
  });
});

observer4.observe(document.querySelector('.bar-wrapper4'));


const observer5 = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    const bar_ = entry.target.querySelector('.span_bar');

    if (entry.isIntersecting) {
      bar_.classList.add('bar_animation');
	  return; // if we added the class, exit the function
    }

    // We're not intersecting, so remove the class!
    bar_.classList.remove('bar_animation');
  });
});

observer5.observe(document.querySelector('.bar-wrapper5'));

const observer6 = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    const bar_ = entry.target.querySelector('.span_bar');

    if (entry.isIntersecting) {
      bar_.classList.add('bar_animation');
	  return; // if we added the class, exit the function
    }

    // We're not intersecting, so remove the class!
    bar_.classList.remove('bar_animation');
  });
});

observer6.observe(document.querySelector('.bar-wrapper6'));

const observer7 = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    const bar_ = entry.target.querySelector('.span_bar');

    if (entry.isIntersecting) {
      bar_.classList.add('bar_animation');
	  return; // if we added the class, exit the function
    }

    // We're not intersecting, so remove the class!
    bar_.classList.remove('bar_animation');
  });
});

observer7.observe(document.querySelector('.bar-wrapper7'));

const observer8 = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    const bar_ = entry.target.querySelector('.span_bar');

    if (entry.isIntersecting) {
      bar_.classList.add('bar_animation');
	  return; // if we added the class, exit the function
    }

    // We're not intersecting, so remove the class!
    bar_.classList.remove('bar_animation');
  });
});

observer8.observe(document.querySelector('.bar-wrapper8'));


</script>