---
layout: default
---
<html style="
scroll-behavior: smooth">
<body style="overflow: auto">
<!-- Page Header -->
<section id="first">
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading" style="padding: 14px 0">
            <script src = "quote_generator/book_quotes.js"></script>
              <div class="container">
                  <div style="height: 26em; padding: 58px;">
                  <p id="quote" style= "text-align: center; color: #fff; font-size: 20px; font-weight: 200; font-family: system-ui"></p>
                  </div>
              </div>
              <div id="b-nav">
                  <button id="gen" onclick="genQuote()">→</button>      
              </div>
              <br>
              <br>
              <br>
              <br>
              <!-- <a href="#stats" class="btn btn-primary js-scroll-trigger" style="
              font-size: larger;
              background-color: #111f2200 !important;
              border-color: #111f2200 !important;
              ">﹀</a> -->
        </div>
      </div>
    </div>
  </header></section>




  <section id="second" style="height: 800px;">
    <div id="stats">
  {% include statistics.html %} 
  <br><br><br>
  <!-- <center><a href="#booklist" class="btn btn-primary js-scroll-trigger" style="
              font-size: larger;
              background-color: #111f2200 !important;
              border-color: #111f2200 !important;
              color: rgb(64, 64, 64) !important;
              ">﹀</a></center> -->
  </div></section>

    <section id= "third" class="blog" style="height: 800px;">
      <div class="container" style="overflow: auto">
      <div id="booklist">
      <br><br>
      
        <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
          
          {% for post in site.posts reversed %}
            {% include card.html %}
          {% endfor %}

        </div>
      </div></div></div>
    </section>  


    <script>const indicators = document.querySelectorAll(".indicator");
      const sections = document.querySelectorAll("section");
      
      const resetCurrentActiveIndicator = () => {
        const activeIndicator = document.querySelector(".active");
        activeIndicator.classList.remove("active");
      };
      
      const onSectionLeavesViewport = (section) => {
        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                resetCurrentActiveIndicator();
                const element = entry.target;
                const indicator = document.querySelector(`a[href='#${element.id}']`);
                indicator.classList.add("active");
                return;
              }
            });
          },
          {
            root: null,
            rootMargin: "0px",
            threshold: 0.75
          }
        );
        observer.observe(section);
      };
      
      indicators.forEach((indicator) => {
        indicator.addEventListener("click", function (event) {
          event.preventDefault();
          document
            .querySelector(this.getAttribute("href"))
            .scrollIntoView({ behavior: "smooth" });
          resetCurrentActiveIndicator();
          this.classList.add("active");
        });
      });
      
      sections.forEach(onSectionLeavesViewport);
      </script>

    <aside style="top:94%; left:61%">
      <!-- <div style="right:0"><a href="{{"/" | relative_url }}"{{site.title | escape}} ><i class="fa fa-home home"></i></a></div> -->
      <uls>
        <lis>
          <a class="indicator active" href="#first" style="background-color: #829596"></a>
        </lis>
        <lis>
          <a class="indicator" href="#second" style="background-color: #4e6a72"></a>
        </lis>
        <lis>
          <a class="indicator" href="#third" style="background-color: #364e5a"></a>
        </lis>

      </uls>
    </aside>
  
  </body>
    </html>


