<html style="
scroll-behavior: smooth">

<style class="inlineCSS">

  {% include critical.css %}

</style>
<body style= "background-color: #edebeb">
<div class="wrapper">
  <div class="right_post">
    <section id = "general" style = "height: 100%;">
    <title_post>
      {{ page.title }}
    </title_post>
    <author_post>
      {{ page.description }}
    </author_post>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{page.rating}}
    <book_details>
      Lu en {{ page.lu }}
    </book_details>
    <book_details>
      {{ page.pages }} pages
    </book_details>
    <div style="bottom: 10;
    position: absolute;">
    <a href="#summ" class="btn btn-primary js-scroll-trigger" style="
    font-size: larger;
    padding-left: 450px;
    padding-right: 450px;
    background-color: #edebeb !important;
    color: #615f5f;
    ">﹀</a>
    </div>
    </section>
    
    <section id="summ" style = "height: 100%">
      <author_post style = "line-height:5">
        Résumé
      </author_post>
      {{ page.summ }} 
    </section>

    {% if page.annot %}
    <section id="annot" style = "height: 100%;">
      <author_post style = "line-height:5">
        Annotations
      </author_post>
      {{ content }}
    </section>
    {% endif %}


  <a class="left_post" href="{{"/" | relative_url }}"{{site.title | escape}}><div class="overlay_post">
    
  </div></a>
  </div>


  <div class="sidenav">
    <a href="#general">Infos</a>
    <a href="#summ">Résumé</a>
    {% if page.annot %}
    <a href="#annot">Annotations</a>
    {% endif %}

  </div>
</body>
</html>