<html style="
scroll-behavior: smooth">

<style class="inlineCSS">

  {% include critical.css %}

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body style= "background-color: #f8f8f8">
<div class="wrapper">
  <div class="right_post">
    <section id = "first" style = "height: 100%;">
     <div class="post_row">
      <div class="post_column" style="flex: 80%">
      <title_post>
        {{ page.title }}
      </title_post>
      <author_post>
       {{ page.description }}
      </author_post>
      </div>
      <div class="post_column" style="padding-top: 70; flex: 35%">
        {{page.rating}}
        <book_details>
          Lu en {{ page.lu }}
        </book_details>
        <book_details>
         {{ page.pages }} pages
         </book_details>
      </div>
    </div> 
    <couverture_post style="
    padding-left: 10;
"> Couverture</couverture_post>
<p style="
padding-left: 10;
padding-top: 15;
">{{ page.couverture }}</p>
<div style="
    padding-left: 25%;
    padding-right: 25%;
    position: absolute;
    bottom: 20px;
"><a href="#second1" class="btn btn-primary js-scroll-trigger" style="
              font-size: larger;
              background-color: #111f2200 !important;
              border-color: #111f2200 !important;
              color: #524948
              ">﹀</a></div> 
    </section>
    <section id="second" style = "height: 100%">
    <div id="second1">
      <author_post style = "line-height:3; padding-top: 50">
        Résumé
      </author_post>
      {{ page.summ }} 

      
    </div></section>

    {% if page.annot == false %}
      <footer style="background-color: #f8f8f8;">
        <div class="row" style="width:100%">
          <div class="col-lg-10/12 col-md-12/12 mx-auto">
            <p class="copyright text-muted" style="color: #8d8686; text-align:center; padding-top: 10">Mes livres © Vladimir Fayt </p>
          </div>
        </div>
    </footer>
    {% endif %}

    {% if page.annot %}
    <section id="third" style = "height: 100%;">
      <author_post style = "line-height:3; padding-top: 50">
        Annotations
      </author_post>
      {{ content }}
      
    </section>
    

    <footer style="background-color: #f8f8f8;">
      <div class="row" style="width:100%">
        <div class="col-lg-10/12 col-md-12/12 mx-auto">
          <p class="copyright text-muted" style="color: #8d8686; text-align:center; padding-top: 10">Mes livres © Vladimir Fayt </p>
        </div>
      </div>
  </footer>
  {% endif %}
    
   <div class="left_post" style="background-image: url('{{ page.background}}')">
  <div class="overlay_post">
    
  </div>
  </div>


  <!-- <div class="sidenav">
    <a href="#general">Infos</a>
    <a href="#summ">Résumé</a>
    {% if page.annot %}
    <a href="#annot"><img src= "quote_generator/current_stats.png" alt="Current stats" style = "width: 40%; height:
      40%"></a>
    {% endif %}
      
  </div> -->
  <script>const indicators = document.querySelectorAll(".indicator");
    const sections = document.querySelectorAll("section");
    
    const resetCurrentActiveIndicator = () => {
      const activeIndicator = document.querySelector(".active");
      activeIndicator.classList.remove("active");
    };
    
    const onSectionLeavesViewport = (section) => {
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              resetCurrentActiveIndicator();
              const element = entry.target;
              const indicator = document.querySelector(`a[href='#${element.id}']`);
              indicator.classList.add("active");
              return;
            }
          });
        },
        {
          root: null,
          rootMargin: "0px",
          threshold: 0.75
        }
      );
      observer.observe(section);
    };
    
    indicators.forEach((indicator) => {
      indicator.addEventListener("click", function (event) {
        event.preventDefault();
        document
          .querySelector(this.getAttribute("href"))
          .scrollIntoView({ behavior: "smooth" });
        resetCurrentActiveIndicator();
        this.classList.add("active");
      });
    });
    
    sections.forEach(onSectionLeavesViewport);
    </script>
  <aside>
    <div style="right:0"><a href="{{"/" | relative_url }}"{{site.title | escape}} ><i class="fa fa-home home"></i></a></div>
    <uls>
      <lis>
        <a class="indicator active" href="#first"></a>
      </lis>
      <lis>
        <a class="indicator" href="#second"></a>
      </lis>
      {% if page.annot %}
      <lis>
        <a class="indicator" href="#third"></a>
      </lis>
      {% endif %}
    </ul>
  </aside>
</body>
</html>
